body{
     padding    : 0;
     margin     : 0;
     font-family: Helvetica;
}
#header{
      position: fixed;
      top     : 0;
      left    : 0;
      z-index : 500;
      width   :100%;
      height  :80px;
      background-image  : url('image/wood-bg.png');
      background-repeat: repeat-x;
}
#tabs-top i{
    float: left;
    padding: 17px 0px 0px 17px;
    color: #ffffff;
}
#header img{
      display: block;
      margin : auto;
      height : 70%;
      padding-top: 15px; 
    padding-right: 25px;
}

#tabs-top{
      position: fixed;
      top     : 80px;
      left    : 0;
      z-index : 500;
      width   : 100%;
      height  : 40px;
      background-color: burlywood;
}
#tabs-top a{
      float   : left;
      display : block;
      width   : 33%;
      height  :35px;
      font-weight : 700;
      color       : white;
      text-align  : center;
      text-decoration : none;
      padding-top     : 12px;  
}
#main-home{
       margin-top: 120px;
    background-image: url('image/blur-shopping-mall.jpg')
}
#tabs-bottom{
      position : fixed;
      bottom   : 0;
      left     : 0;
      z-index  : 500;
      width    : 100%;
      height   : 40px;
      background-color: burlywood;
}
#tabs-bottom a{
     float : left;
     display : block;
     width : 33%;
     height : 35px;
     font-weight : 700;
     color       : white;
     text-align  : center;
     text-decoration : none;
     padding-top     : none;
}
#main{
    width: 100%;
    margin-top: 119px;
    background-image: url('');
    background-repeat: repeat-y;
}
#content{
    padding-top: 1px;
    padding-bottom: 50px;
}
#main h2{
      padding : 0;
      margin-bottom :0;
      width : 90%;
      color : #572800;
    text-align: center;
    font-family: cursive;
    
}

#main h4{
      padding : 0;
      margin-bottom :0;
      width : 90%;
      color : #572800;
    text-align: center;
    font-family: cursive;
}

.info-box{
      text-decoration : none;
      background      : burlywood;
      width           : 50%;
      height          : 90px;
      display         : block;
      margin          : auto;
      margin-top      : 12px;
      padding         : 1px; 
}
.info-box img{
      height : 70px;
      margin : 10px;
      float  : left;
}
.info-box h3{
      padding : 0;
      margin-bottom :0;
      width : 90%;
      color : #572800;
}
.info-box p{
      margin  : 0;
      padding : 0;
      width   : 90%;
      color   : 131313;
}
.info-box img.right{
      float      : right;
      margin-top : 25px;
      height    : 40px; 
}
#info-box-full{
      background-color : burlywood;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
}
#info-box-full img{
    width : 25%;
    float: inherit;
    align-items: center;
}
#info-box-full h3{
      text-align : center;
}
#info-box-full p{
    margin  : 0;
      padding : 0;
      width   : 90%;
      color   : 131313;
}
#image img{
    height : 70px;
      margin : 10px;
}